<div class="row product-details" *ngIf="productDetails">
    <div class="col-sm-6">
        
        <img class="product-image" src="{{productDetails.url}}"/>
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productDetails.name}}</h1>
        </div>
        <h3>Price : {{productDetails.price}}</h3>
        <div>
            Color :
            <h5 [style.backgroundColor]="productDetails.color" class="product-color"></h5>
        </div>
        <h6>Category : {{productDetails.category}}</h6>
        <h6>Description : {{productDetails.description}}</h6>

        <div>
            <button (click)="handleQuantity('min')" class="form-button">-</button>
            <input type="text" style="width:10%;" class="form-input" value="{{productQuantity}}"/>
            <button (click)="handleQuantity('plus')" class="form-button">+</button>
        </div>
        <button *ngIf="!removeCart" class="form-button" (click)="addToCart()">Add to Cart</button>
        <button *ngIf="removeCart" class="form-button" (click)="removeToCart(productDetails.id)">Remove to Cart</button>
        <button class="form-button">Buy Now</button>
       
        
    </div>
</div>