<div class="user-auth">
    <div class="user-signup">
        <div class="user-signup" *ngIf="!showLogin">
            <h1 class="user-login">User Signup</h1>
            <form #userSignup="ngForm" class="common-form" (ngSubmit)="signUp(userSignup.value)">
                <input 
                    class="form-input" 
                    type="text" 
                    name="name" 
                    placeholder="Enter Name"
                    ngModel 
                />
              
                <input 
                    class="form-input" 
                    type="text" 
                    name="email"  
                    placeholder="Enter Email"
                    ngModel 
                />
                <input 
                class="form-input" 
                type="password" 
                name="password" 
                placeholder="Enter Password"
                ngModel 
            />
                <button class="form-button">Sign Up</button>
                <p>Do you have account ? click here to <a style="cursor: pointer;" (click)="openLogin()">login</a></p>
            </form>
        </div>

        <div class="user-login" *ngIf="showLogin">
            <h1 class="user-login">User Login</h1>
            <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
                <input 
                    class="form-input" 
                    type="text" 
                    name="email"
                    placeholder="Enter Email"
                    ngModel 
                />
                <input 
                class="form-input" 
                type="password" 
                name="password" 
                 
                placeholder="Enter Password"
                ngModel 
            />
                <button class="form-button">Login</button>
                <p>New user ? <a style="cursor: pointer;" (click)="openSignup()">Register</a> here</p>
            </form>

        </div>
     
    </div>